.shipping-box-container .shipping-box .no-form {
    display: flex;
}

.shipping-box {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.shipping-box-container .shipping-box .box-name {
    display: inline-block;
    margin: auto 0;
    width: 50%;
    margin-left: 15px;
}

.shipping-details-button {
    display: inline-flex;
    width: 50%;
    align-items: center;
    text-align: center;
    border: 1px solid #f29722;
    color: #f29722;
    margin-right: 15px;
    justify-content: center;
}

.shipping-form input {
    margin-top: 10px;
    width: 98%;
    margin-bottom: 20px;
    padding: 5px;
}

.shipping-form {
    max-height: 45vh;
    overflow-y: scroll;
    height: 45vh;
}
