<h2>Configure Boxes</h2>

<div *ngIf="cart.items.A1.length > 0">
  <p>A1 Size Boxes</p>
  <app-cart-boxes *ngFor="let item of cart.items.A1; let i = index" [item]="item" [index]="i" (boxConfigUpdated)="handleBoxConfigUpdate($event)"></app-cart-boxes>
</div>

<div *ngIf="cart.items.A2.length > 0">
  <p>A2 Size Boxes</p>
  <app-cart-boxes *ngFor="let item of cart.items.A2; let i = index" [item]="item" [index]="i"></app-cart-boxes>
</div>

<div *ngIf="cart.items.A3.length > 0">
  <p>A3 Size Boxes</p>
  <app-cart-boxes *ngFor="let item of cart.items.A3; let i = index" [item]="item" [index]="i"></app-cart-boxes>
</div>
<!-- <h3 style="text-align: center;">{{details.description.header}} </h3>
<div class="row">
  <div class="col">
    <p>{{details.description.first}}</p>
  </div>
  <div class="col">
    <p>{{details.description.second.a}}<br> {{details.description.second.b}}<br>{{details.description.second.c}}</p>
  </div>
  <div class="col">
    <p>{{details.description.third}}</p>
  </div>
</div> -->
