<div *ngIf="cart.items.A1.length > 0">
    <p>A1 Size Boxes</p>
    <div class="arrangement-box-container">
        <div *ngFor="let item of cart.items.A1; let i = index" [attr.data-index]="i" class="arrangement-box">
            <div class="box-name">{{item.rxtx.to}}'s {{item.productType}}</div>
            <div class="box-arrangement-type-container">
                <div [ngClass] = 'item.boxArrangement == "Raw" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Raw', item.productSize, i)">Raw</div>
                <div [ngClass] = 'item.boxArrangement == "Ready" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Ready', item.productSize, i)">Ready</div>
                <div [ngClass] = 'item.boxArrangement == "Mixed" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Mixed', item.productSize, i)">Mixed</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cart.items.A2.length > 0">
    <p>A2 Size Boxes</p>
    <div class="arrangement-box-container">
        <div *ngFor="let item of cart.items.A2; let i = index" [attr.data-index]="i" class="arrangement-box">
            <div class="box-name">{{item.rxtx.to}}'s {{item.productType}}</div>
            <div class="box-arrangement-type-container">
                <div [ngClass] = 'item.boxArrangement == "Raw" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Raw', item.productSize, i)">Raw</div>
                <div [ngClass] = 'item.boxArrangement == "Ready" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Ready', item.productSize, i)">Ready</div>
                <div [ngClass] = 'item.boxArrangement == "Mixed" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Mixed', item.productSize, i)">Mixed</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cart.items.A3.length > 0">
    <p>A3 Size Boxes</p>
    <div class="arrangement-box-container">
        <div *ngFor="let item of cart.items.A3; let i = index" [attr.data-index]="i" class="arrangement-box">
            <div class="box-name">{{item.rxtx.to}}'s {{item.productType}}</div>
            <div class="box-arrangement-type-container">
                <div [ngClass] = 'item.boxArrangement == "Raw" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Raw', item.productSize, i)">Raw</div>
                <div [ngClass] = 'item.boxArrangement == "Ready" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Ready', item.productSize, i)">Ready</div>
                <div [ngClass] = 'item.boxArrangement == "Mixed" ? "box-arrangement-type active" : "box-arrangement-type"' (click)="changeType('Mixed', item.productSize, i)">Mixed</div>
            </div>
        </div>
    </div>
</div>