<div class="d-flex justify-content-around sliderComponent">
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="cart" (click)="switchProcess($event)" autocomplete="off" style="display: block;">Cart</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="boxArrangement" (click)="switchProcess($event)" autocomplete="off" style="display: block;">Box Arrangement</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="shipping" (click)="switchProcess($event)" autocomplete="off" style="display: block;">Shipping</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="checkout" (click)="switchProcess($event)" autocomplete="off" style="display: block;">Checkout</button>  
</div>
