<div class="d-flex justify-content-around sliderComponent">
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="covidBox" (click)="switchProduct($event)" autocomplete="off">Covid Box</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="mangoesForYou" (click)="switchProduct($event)" autocomplete="off">Mangoes<br>for You</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="bulkOrder" (click)="switchProduct($event)" autocomplete="off">Bulk Orders</button>
</div>
