.container{
    background-color: #F7EDD0;
    margin-top: 2rem;
    border-radius: 4%;
}

button{
    margin: 0 0.5rem !important;
    border: none !important;
    background-color: #FFC857;
    border-radius: 5%;
    font-size: large !important;
}

#count{
  margin: 0;
  font-size: 1.3rem;

}

.countBtn{
  background-color: #FFC857;
  border-radius: 0.5rem;
  color: white !important;
}

button:hover{
    background-color: #FFE0A3;
    transition-duration: 0.5s;
}

h5{
  margin-bottom: none !important;
}

#orderSummaryHeader{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
}

.summaryBox{
  background-color: white;
  width: auto;
  padding: 3%;
  border: 1rem white;
  border-radius: 1rem;

}

.orderNowBtn{
    font-size: 1.5rem !important;
    border-radius: 1.3rem !important;
    color: white;
    padding: 0.7rem !important;
    background-color: #FFC857;
    float: right;
}
