<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      <link rel="stylesheet" href="/home.css">
      <title>Document</title>
   </head>

   <body>
      <div class="container">
        <div class="upper">
          <header>
             <img id="logo" src="../assets/indiaGoldAgro.png" alt="indiagold logo">
          </header>

          <div class="container">
            <div class="row">
              <div class="col-6 leftSide">
                <span class="tagLineLanding">Gift a Covid Box to your Loved Ones this Summer</span><hr>

                <div class="switchBtn">
                  <button type="button" class="btn" data-bs-toggle="button" data-btn="mangoes" (click)="switchDetail($event)" autocomplete="off">
                    <img src="../assets/mango.svg" alt=""  data-btn="mangoes">
                  </button>
                  <button type="button" class="btn" data-bs-toggle="button" data-btn="covidTools" (click)="switchDetail($event)" autocomplete="off">
                    <img src="../assets/covidTools.svg" alt=""  data-btn="covidTools">
                  </button>
                  <button type="button" class="btn" data-bs-toggle="button" data-btn="PMCaresFund" (click)="switchDetail($event)" autocomplete="off">
                    <img src="../assets/heart.svg" alt=""  data-btn="PMCaresFund">
                  </button>
                </div>
                <div class="">
                  <span><b>{{showDetail.header}}</b></span>
                  <p>{{showDetail.text.a}}<br> {{showDetail.text.b}}<br>{{showDetail.text.c}}</p>
                </div>
              </div>

              <div class="col-6 rightSide">
                <img class="" id="tiltedImg" src="../assets/tiltedImg.png" alt="">
              </div>
            </div>
          </div>

          <div class="orderNowLandingDiv">
            <button id="orderNowLanding" class="btn" routerLink="/details" type="button" name="button">Order Gift Box -></button>
          </div>
        </div>

        <h3 class="OR">OR</h3>

        <div class="row otherButtons">
          <div class="col-6">
            <button id="getMangoesBtn" class="btn" (click)="routingBtn($event)" type="button" name="button">Get Mangoes<br>For You</button>
          </div>
          <div class="col-6">
            <button id="bulkOrderBtn" class="btn" type="button" name="button">Bulk<br>Order</button>
          </div>
        </div>

        <div class="devgadMangoesDescription">
          <h2>Why Devgad mangoes ?</h2>
          <span>The Alphonso mango is a foreign fruit that came to India through Goa along with Alfonso De Albuquerque, the Portuguese explorer and military strategist who led many Portuguese invasions in the 1600s. From Goa, the Alphonso mango travelled to different places like Ratnagiri, other Konkan region and southern side of India as well.</span>
        </div>

        <div class="row devgadMangoesFeatures">
          <div class="col-lg-4">
            <img id="devgadMangoesFeaturesA" src="../assets/chemicalFree.svg" alt="Chemical Free">
            <h2>Chemical Free</h2>
          </div>
          <div class="col-lg-4">
            <img id="devgadMangoesFeaturesB" src="../assets/organic.svg" alt="100% organic">
            <h2>100% Organic</h2>
          </div>
          <div class="col-lg-4">
            <img id="devgadMangoesFeaturesC" src="../assets/carbideFree.svg" alt="Carbide Free">
            <h2>Carbide Free</h2>
          </div>
        </div>

      </div>


      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
   </body>
</html>
