<h6 class="topicTagline">{{details.header}}</h6>
<img class="img-fluid descriptionMidPic" src={{details.imgsrc}} alt="mangoessss">
<h3 class="topicHeader">{{details.description.header}} </h3>
<div class="row topicDescription">
  <div class="col-4">
    <p>{{details.description.first}}</p>
  </div>
  <div class="col-4">
    <p>{{details.description.second.a}}<br> {{details.description.second.b}}<br>{{details.description.second.c}}</p>
  </div>
  <div class="col-4">
    <p>{{details.description.third}}</p>
  </div>
</div>
